body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.header {
    width: 100%;
    height: 5vw;
}

.title {
    color: black;
    width: 50%;
    height: 100%;
    float: left;
    align-content: center;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.title h1 {
    font-size: 1.6vw;
    font-weight: 600;
    margin-left: 1.5%;
}

.title img {
    width: 4.5vw;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    float: right;
    margin-right: 2%;
}

.active-page {
    color: white !important;
    background-color: black;
}

.navbar a {
    color:black;
    font-size: 1.6vw;
    font-weight: 600;
    padding: 1% 2%;
    margin: 0 1.5%;
}

.featured-image {
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #CECECE;
}

.featured-image img {
    width: 100vw; 
}

.featured-image h2 {
    position: absolute;
    left: 5%;
    bottom: 10%;
    color: white;
    font-weight: 800;
    font-size: 2.5vw;
}

.content {
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: #CECECE;
    padding-top: 4%;
    padding-bottom: 5%;
}

.section {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 75%;
}

.section img {
    width: 100%;
}

.section p {
    font-size: 1vw;
    font-weight: 400;
}

.cta-button {
    align-self: center;
    color: white;
    background-color: black;
    padding: 3% 12%;
    border-radius: 10px;
    font-size: 2vw;
    font-weight: 600;
}

.footer {
    width: 100%;
    height: 128px;
}

.footer-content {
    display: flex;
    width: 40%;
    height: 100%;   
    float: right;
    text-align: right;
    align-items: center;
    font-size: 1vw;
}

.footer-content img {
    width: 10vw;
    height: auto;
}

.horizontal-line {
    width: 3px;
    height: 80%;
    background-color: black;
    margin: 0 2%;
}

.green-bar {
    background-color: #125F27;
    width: 100%;
    height: 2vh;
}
